.navbar {
    padding:0px;
}

.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #dddddd;
  }
 
  #masthead {
   
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
  }
 

  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }

p {
      margin-top: 20px;
  }

  html{
    position: relative; 
    min-height: 100%;
  }

  footer {
      
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }

  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/pattern.png");
  }


h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h3 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #dddddd;
  }

  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;   
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }

  .portImage{
    width: 274px;
  }

  .work {
    position: absolute;
    bottom: 20px;
    width: 274px;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }